SendProfile_xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="SubmitCard">
    <xsd:complexType>
        <xsd:sequence>

            <!-- xsd SubmitCard -->

            <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="label" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="description" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="priority" type="xsd:string" ></xsd:attribute>
        
            <!-- xsd Destination -->

            <xsd:element name="Destination">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:simpleType name="type" final="restriction" >
                            <xs:restriction base="xs:string">
                                <xsd:enumeration value="Queue"/>
                                <xsd:enumeration value="Worflow"/> 
                            </xs:restriction>
                        </xsd:simpleType>

                        <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- xsd Devices -->

            <xsd:element name="Devices">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Device">
                            <xsd:complexType>
                                <xsd:sequence>

                                    <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>                
                                    <xsd:attribute name="label" type="xsd:string" ></xsd:attribute>    
                                    
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            
            <!-- xsd Parameters -->

            <xsd:element name="Parameters">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Parameter">
                            <xsd:complexType>
                                <xsd:sequence>

                                    <xsd:simpleType name="visibility" final="restriction" >
                                        <xs:restriction base="xs:string">
                                            <xsd:enumeration value="modifiable"/>
                                            <xsd:enumeration value="show"/>
                                            <xsd:enumeration value="hidden"/> 
                                        </xs:restriction>
                                    </xsd:simpleType>

                                    <xsd:simpleType name="type" final="restriction" >
                                        <xs:restriction base="xs:string">
                                            <xsd:enumeration value="text"/>
                                            <xsd:enumeration value="int"/>
                                            <xsd:enumeration value="date"/> 
                                        </xs:restriction>
                                    </xsd:simpleType>


                                    <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>

                                    <xsd:attribute name="label" type="xsd:string" ></xsd:attribute>

                                    <xsd:attribute name="required" type="xsd:boolean" ></xsd:attribute>

                                    <xsd:attribute name="persist" type="xsd:boolean" ></xsd:attribute>

                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>

                        <xsd:element name="ParametersGroup">
                            <xsd:complexType>
                                <xsd:sequence>

                                    <xsd:attribute name="label" type="xsd:string" ></xsd:attribute>

                                    <xsd:element name="Parameter" type="Parameter" />

                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>      

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>



            <!-- xsd ExtraArgs -->

            <xsd:element name="ExtraArgs" type="xsd:string" />

        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>