SendProfile_xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="SubmitCard">
    <xsd:complexType>
        <xsd:sequence>

            <!-- xsd SubmitCard -->

            <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="label" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="description" type="xsd:string" ></xsd:attribute>
            <xsd:attribute name="priority" type="xsd:string" ></xsd:attribute>
        
            <!-- xsd Destination -->

            <xsd:element name="Destination">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Queue"/>
                            <xsd:enumeration value="Worflow"/>          
                        </xsd:restriction>

                        <xsd:attribute name="name" type="xsd:string" ></xsd:attribute>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- xsd Devices -->

            <xsd:element name="Devices">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Device">
                            <xsd:complexType>
                                <xsd:sequence>

                                    <xsd:element name="name" type="xsd:string" ></xsd:element>                
                                    <xsd:element name="label" type="xsd:string" ></xsd:element>    
                                    
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            
            <!-- xsd Parameters -->

            





            <!-- xsd ExtraArgs -->

            <xsd:element name="ExtraArgs" type="xsd:string" />

        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>