test.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="banque">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="client" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            
                            <xsd:element name="identite">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="nom" type="xsd:string" ></xsd:element>
                                        <xsd:element name="prenom" type="xsd:string" ></xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="comptes">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="livretA">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="montant" type="xsd:double" ></xsd:element>
                                                </xsd:sequence>			
                                            </xsd:complexType>
                                        </xsd:element>
                                        
                                        <xsd:element name="courant">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="montant" type="xsd:double" ></xsd:element>
                                                </xsd:sequence>			
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>	
    </xsd:element>
</xsd:schema>