test_gen.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="SubmitCard">
    <xs:complexType>

      <xs:sequence>
        <xs:element name="Destination">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="Devices">
          <xs:complexType>
            
            <xs:sequence>
              <xs:element name="Device" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="label" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          
          </xs:complexType>
        </xs:element>


        <xs:element name="Parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameter">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="visibility"/>
                      <xs:attribute type="xs:string" name="type"/>
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:string" name="label"/>
                      <xs:attribute type="xs:string" name="required"/>
                      <xs:attribute type="xs:string" name="persist"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ParametersGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Parameter"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="label"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ExtraArgs"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="label"/>
      <xs:attribute type="xs:string" name="description"/>
      <xs:attribute type="xs:string" name="priority"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
